CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/build
/.vscode
./build
./.vscode
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
.cache
.DS_store
